* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background: #f4f6f8;
    align-items: center;
}

.cancel-container {
    margin: 80px auto;
    background: #ffffff;
    width: 100%;
    max-width: 420px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.cancel-container h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #d9534f;
}

.details {
    margin-bottom: 20px;
}

.details p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
}

.details span {
    font-weight: bold;
    color: #555;
}

.btn-group {
    display: flex;
    gap: 10px;
}

.btn-danger {
    flex: 1;
    padding: 10px;
    background: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.btn-danger:hover {
    background: #c9302c;
}

.btn-secondary {
    flex: 1;
    padding: 10px;
    text-align: center;
    background: #2c3e50;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
}

.btn-secondary:hover {
    background: #012038;
}

/* Mobile Responsive */
@media (max-width: 480px) {
    .cancel-container {
        padding: 20px;
         margin: 60px auto;
        width: 90%;
         font-size: 10px;
    }
}
