* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    min-height: 100vh;
    background: #f4f6f8;
    align-items: center;
}


.login-container {
    margin: 80px auto;
    background: #ffffff;
    width: 100%;
    max-width: 380px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    
}


.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;;
}




.login-container input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


.login-container button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background:#2c3e50;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background: #1a252f;
}


.error {
    color: red;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}


.login-container p {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.login-container a {
    color:#2c3e50;
    text-decoration: none;
    font-weight: 600;
}

.login-container a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .login-container {
        padding: 20px;
    }
}
