* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #011831;
}


body {
    background: #f4f6f8;
   
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}


form {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    padding:20px;

}

form select,
form button {
    padding: 8px 12px;
    font-size: 14px;
}

form button {
    background:#2c3e50;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background: #011831;
}

.doctors-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    margin-top: 20px;
}


.doctor-card {
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    text-align: center;
}


.doctor-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid #ddd;
}


.doctor-card p {
    margin: 6px 0;
    font-size: 14px;
    color:#2c3e50;
}


.doctor-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 14px;
    background:  #04325f;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

.doctor-card a:hover {
    background:  #001325;
}

.brand{
    color:#ffffff
}
.no-doctors {
    text-align: center;
    margin-top: 20px;
    color: #777;
}


@media (max-width: 480px) {
    h2 {
        font-size: 20px;
    }

    .doctor-card {
        padding: 12px;
    }
}
