body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    
}


h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 25px;
}


form {
    max-width: 450px;
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


label {
    font-weight: bold;
    color: #34495e;
}

* {
    box-sizing: border-box;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1a252f;
}

.specialization-box {
    margin-left: 5px;
}

.checkbox-item {
    font-size: 14px;
    cursor: pointer;
}


input[type="checkbox"] {
    accent-color: #0c2d51;
    margin-right: 6px;
    transform: scale(1.1);
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #2980b9;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
@media (max-width: 480px) {
    
   

    h2 {
        font-size: 22px;
    }

    button {
        font-size: 15px;
    }
}


@media (max-width: 768px) {
    form {
        max-width: 90%;
    }
}


@media (min-width: 769px) {
    form {
        max-width: 450px;
    }
}
