* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    
}
.preview {
    width: 120px;
    margin: 10px 0;
    border-radius: 8px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.checkbox-item {
    font-size: 14px;
}


h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 25px;
}


form {
   max-width: 450px;   
    width: 100%;
    margin: auto;
    background-color: #ffffff;
    padding: 25px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}


label {
    font-weight: bold;
    color: #34495e;
}


input[type="text"],select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
input[type="checkbox"] {
    accent-color: green;   
}


button {
    width: 100%;
    padding: 12px;
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1e8449;
}


a {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #2980b9;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
@media (max-width: 480px) {
   

    h2 {
        font-size: 22px;
    }

   
}


@media (max-width: 768px) {
    form {
        max-width: 90%;
    }
}