* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f6f8;
    min-height: 100vh;
    align-items: center;
}

.login-box {
    padding: 30px 25px;
    width: 100%;
    max-width: 350px;
     margin: 80px auto;
    background: white;
    text-align: center;
    box-shadow: 0 0 10px #ccc;
    border-radius: 6px;
}
.login-box h2 {
    margin-bottom: 20px;
    color: #2c3e50;
}
.login-box input,
.login-box button {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    font-size: 15px;
    border-radius: 4px;
}
.login-box input {
    border: 1px solid #ccc;
}

.login-box button {
    border: none;
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
}
.login-box button:hover {
    background-color: #1a252f;
}
@media (max-width: 480px) {
    .login-box {
        padding: 20px;
    }
}
