{% extends 'base.html' %}
{% load static %}
{% load tz %}
{% block title %}Appointments{% endblock %}
    {% block css %} <link rel="stylesheet" href="{% static 'appointment.css' %}">{% endblock %}
{% block content %}
   <h2>Appointments</h2>
<div class="table-container">
<table border="1">
<tr>
    <th>Patient</th>
    <th>Doctor</th>
    <th>Date</th>
    <th>Status</th>
</tr>
{% for a in appointments %}
<tr>
    <td>{{ a.patient }}</td>
    <td>{{ a.doctor }}</td>
    <td>{{ a.created_at|localtime|date:"d-m-Y H:i" }}</td>
    <td class="{{ a.status|lower }}">{{ a.status }}</td>

</tr>
{% endfor %}
</table>
</div>
{% endblock %}